.main-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('https://raw.githubusercontent.com/fbhk12/nfl-films-music/main/public/lambeau68.jpg') center center;
  background-size: cover;
  opacity: 0.2;
  z-index: -1;
}

.content {
  position: relative;
  z-index: 1;
  padding: 2rem;
}
